.vs
/WCF_PROYECTO/BLL_Aeropuerto/obj/Release/BLL_Aeropuerto.csproj.CoreCompileInputs.cache
/WCF_PROYECTO/DAL_Aeropuerto/obj/Release/DAL_Aeropuerto.csproj.CoreCompileInputs.cache
/WCF_PROYECTO/SITE_Aeropuerto/obj/Release/SITE_Aeropuerto.csproj.CoreCompileInputs.cache
/WCF_PROYECTO/SVC_Aeropuerto/obj/Release/SVC_Aeropuerto.csproj.CoreCompileInputs.cache
/WCF_PROYECTO/BLL_Aeropuerto/bin/Debug
/WCF_PROYECTO/BLL_Aeropuerto/obj/Debug/BLL_Aeropuerto.csprojAssemblyReference.cache~HEAD
/WCF_PROYECTO/BLL_Aeropuerto/obj/Debug/BLL_Aeropuerto.csprojAssemblyReference.cache~origin_josedaniel
/WCF_PROYECTO/BLL_Aeropuerto/obj/Debug/BLL_Aeropuerto.pdb~HEAD
/WCF_PROYECTO/BLL_Aeropuerto/obj/Debug/BLL_Aeropuerto.pdb~origin_josedaniel
/WCF_PROYECTO/SITE_Aeropuerto/bin
/WCF_PROYECTO/SITE_Aeropuerto/obj/Debug/SITE_Aeropuerto.pdb~HEAD
/WCF_PROYECTO/SITE_Aeropuerto/obj/Debug/SITE_Aeropuerto.pdb~origin_josedaniel
/WCF_PROYECTO/SVC_Aeropuerto/bin/Debug
/WCF_PROYECTO/SVC_Aeropuerto/obj/Debug/SVC_Aeropuerto.pdb~HEAD
/WCF_PROYECTO/SVC_Aeropuerto/obj/Debug/SVC_Aeropuerto.pdb~origin_josedaniel
/WCF_PROYECTO/SVC_Aeropuerto/app.config~HEAD
/WCF_PROYECTO/SVC_Aeropuerto/app.config~HEAD_0
/WCF_PROYECTO/SVC_Aeropuerto/app.config~origin_josedaniel
/WCF_PROYECTO/SVC_Aeropuerto/app.config~origin_josedaniel_0
/WCF_PROYECTO/WCF_Proyecto_Site/obj/Debug/WCF_Proyecto_Site.csproj.CoreCompileInputs.cache
/WCF_PROYECTO/WCF_Proyecto_Site/obj/Debug/WCF_Proyecto_Site.csprojAssemblyReference.cache
/WCF_PROYECTO/WCF_Proyecto_Site/obj/Release/WCF_Proyecto_Site.csprojAssemblyReference.cache
/WCF_PROYECTO/WCF_Proyecto_Site/obj/Release/WCF_Proyecto_Site.csproj.CoreCompileInputs.cache
/WCF_PROYECTO/DAL_Aeropuerto/obj/Release
/Web_Consumo/DAL/obj/Debug
